<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.admin.mapper.RoleUserMapper">
    <resultMap id="requireResultMap" type="com.app.admin.model.RoleUser.RoleUser">
        <id property="id" column="id" />
        <result property="roleId" column="role_id"/>
        <result property="userId" column="user_id"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="getAll" resultMap="requireResultMap">
        select * from role_user where is_delete = 1
    </select>


    <insert id="insert" parameterType="com.app.admin.model.RoleUser.RoleUser">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO role_user
        (`role_id`,`user_id`)
        VALUES
        (#{roleId},#{userId})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.app.admin.model.RoleUser.RoleUser">
        UPDATE `role_user`
        <set>
            <if test="goodName != null">
                `user_id` = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="count != null">
                `role_id` = #{roleId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <delete id="delete" parameterType="java.lang.Long">
        delete from role_user where id=#{id}
    </delete>

</mapper>