<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.admin.dao.UserRequireBindMapper">
    <resultMap id="bindResultMap" type="com.app.admin.model.UserRequirementBind.UserRequirementBind">
        <id property="id" column="id" />
        <result property="userId" column="user_id"/>
        <result property="requirementId" column="requirement_id"/>
        <result property="isBind" column="is_bind"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="requireResultMap" type="com.app.admin.model.Requirement.Requirement">
        <id property="id" column="id" />
        <result property="creatorId" column="creator_id"/>
        <result property="orderId" column="order_id"/>
        <result property="goodName" column="good_name"/>
        <result property="count" column="count"/>
        <result property="describe" column="describe"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="bindName" column="bind_name"/>
        <result property="userName" column="user_name"/>
    </resultMap>

    <select id="getByRequireIdAndUserId" resultMap="bindResultMap">
        select * from user_reqiurement_bind where is_delete = 1 and user_id = #{userId} and
        requirement_id = #{requireId}
    </select>

    <select id="getByUserId" parameterType="java.lang.Long" resultMap="requireResultMap">
        SELECT
            a.*,c.user_name as bind_name,d.user_name as user_name
        FROM
            requirement AS a
            LEFT JOIN user_reqiurement_bind AS b ON ( a.id = b.requirement_id)
            LEFT JOIN user as c ON (b.user_id = c.id)
            LEFT JOIN user as d ON (a.creator_id = d.id)
        WHERE
	        a.is_delete = 1 AND b.is_delete = 1 AND b.user_id = #{userId}
    </select>
    <insert id="insert" parameterType="com.app.admin.dao.UserRequireBindMapper">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO user_reqiurement_bind
            (`user_id`,`requirement_id`)
        VALUES
            (#{userId},#{requirementId})
    </insert>
</mapper>